<!DOCTYPE html>
<html>
<head>
    <title>Swagger UI</title>
    <link href='//fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'/>
    {% stylesheets
        'bundles/ratzaswaggerui/swagger/css/reset.css'
        'bundles/ratzaswaggerui/swagger/css/screen.css'
        filter='cssrewrite' %}
        <link href='{{ asset_url }}' media='screen' rel='stylesheet' type='text/css'/>
        <link href='{{ asset_url }}' media='print' rel='stylesheet' type='text/css'/>
    {% endstylesheets %}
    {% javascripts
        '@RatzaSwaggerUIBundle/Resources/public/swagger/lib/shred.bundle.js'
        '@RatzaSwaggerUIBundle/Resources/public/swagger/lib/jquery-1.8.0.min.js'
        '@RatzaSwaggerUIBundle/Resources/public/swagger/lib/jquery.slideto.min.js'
        '@RatzaSwaggerUIBundle/Resources/public/swagger/lib/jquery.wiggle.min.js'
        '@RatzaSwaggerUIBundle/Resources/public/swagger/lib/jquery.ba-bbq.min.js'
        '@RatzaSwaggerUIBundle/Resources/public/swagger/lib/handlebars-1.0.0.js'
        '@RatzaSwaggerUIBundle/Resources/public/swagger/lib/underscore-min.js'
        '@RatzaSwaggerUIBundle/Resources/public/swagger/lib/backbone-min.js'
        '@RatzaSwaggerUIBundle/Resources/public/swagger/lib/swagger.js'
        '@RatzaSwaggerUIBundle/Resources/public/swagger/swagger-ui.js'
        '@RatzaSwaggerUIBundle/Resources/public/swagger/lib/highlight.7.3.pack.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
         var apiUrl = [];
         var apiDocsUrl = "{{ api_docs_url }}";
         var sfjsIsValidAJAX = function(url) {
            var result = false;
            apiUrl.forEach(function (baseUrl) {
                if (result) return;
                result = url.search(absolutePath(baseUrl + '/')) == -1;
            });
            return result;
        };

        var absolutePath = function(href) {
            var link = document.createElement("a");
            link.href = href;
            return (link.protocol+"//"+link.host+link.pathname+link.search+link.hash);
        };

        $(function () {
            window.swaggerUi = new SwaggerUi({
                url: apiDocsUrl,
                dom_id: "swagger-ui-container",
                supportedSubmitMethods: ['get', 'post', 'put', 'delete'],
                onComplete: function(SwaggerApi){
                    log("Loaded SwaggerUI");

                    SwaggerApi.apisArray.forEach(function (api) {
                        if (absolutePath(api.url).search(absolutePath(api.basePath + '/')) == -1) {
                            if (apiUrl.indexOf(api.basePath) == -1) {
                                apiUrl.push(api.basePath);
                            }
                        }
                    });

                    $('pre code').each(function(i, e) {
                        hljs.highlightBlock(e)
                    });
                },
                onFailure: function() {
                    log("Unable to Load SwaggerUI");
                },
                docExpansion: "none",
                sorter : "alpha"
            });

            $('#input_apiKey').change(function() {
                var key = $('#input_apiKey')[0].value;
                log("key: " + key);
                if(key && key.trim() != "") {
                    log("added key " + key);
                    window.authorizations.add("key", new ApiKeyAuthorization("{{ auth_field_key }}", "{{ auth_key_prefix }}"+key, "{{ auth_field_location }}"));
                }
            });
            {% if force_xhr == true %}
            window.authorizations.add("ajax", new ApiKeyAuthorization("X-Requested-With", "XMLHttpRequest", "header"));
            {% endif %}
            window.swaggerUi.load();
        });
    </script>
</head>

<body class="swagger-section">
<div id='header'>
    <div class="swagger-ui-wrap">
        <a id="logo" href="{{ path('ratza_swagger_ui_index') }}">swagger</a>
        <form id='api_selector'>
            <div class='input'><input placeholder="http://example.com/api" id="input_baseUrl" name="baseUrl" type="text"/></div>
            <div class='input'><input placeholder="api_key" id="input_apiKey" name="apiKey" type="text"/></div>
            <div class='input'><a id="explore" href="#">Explore</a></div>
        </form>
    </div>
</div>

<div id="message-bar" class="swagger-ui-wrap">&nbsp;</div>
<div id="swagger-ui-container" class="swagger-ui-wrap"></div>
</body>
</html>
